* {
    margin: 0;
    padding: 0;
    color: #fff;
   
}

title {
    text-align: center;
}

body {
   background-image: url(images/nature3.JPG) ;
    background-size:cover;
    background-repeat: no-repeat;
}

header {
    font-weight: bolder;
    font-size: 30px; 
    margin: 10px;
  
}

.header {
    /*display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;*/
   text-align: center;
   display: flex;
   align-content: center;
   justify-content: center;
  }

.blue {
    color: rgb(9, 150, 197);
}

.search {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    margin-bottom: 40px;
    

}



.card {
   width: 90%;
   max-width: 470px;
   background: linear-gradient(135deg, #00feba, #5b548a);
   color: #fff;
   margin: 100px auto 0;
   border-radius: 20px;
   padding: 40px 35px;
   text-align: center;
}

.search input {
   border: 0;
   outline: 0;
   background: #ebfffc;
   color: #555;
   padding: 10px 15px;
   height: 40px;
   border-radius: 30px;
   flex: 1;
   margin-right: 16px;
   font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px ;
    cursor: pointer;
    
 
 }

 .search button img{
    width: 16px;

 }

.placedate {
    /* display: flex;
     width: 90%;
     justify-content: space-evenly;
     height: 50px;
     align-items: center;
     font-size: 45px;
    font-weight: 400;
    margin-top: -10px;*/
    font-weight: 400;
    font-size: 25px;
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}


























/* .temp {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 50px;
   
}

.temp h1 {
    font-size: 120px;
    font-weight: bold;
    align-self: center;
   
}

.small  {
    font-size: 50px;

}

.temp img {
    width: 150px;
}

.details {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-evenly;
   
    width: 80%;
    height: 60px;
}

.humidity, .wind, .cof {
    display: flex;
}

.cof {
    align-items: center
}

.wind img, .humidity img {
    width: 50px;
    padding: 10px
}

.humidity h3, .wind h3 {
    align-self: center;
}